*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/
/.metadata/
/.settings/
/bin/
/build/
/eclipse/
/gradle/
/gradlew.bat
/gradlew
/fml-1.8-8.0.20.1023-1.8-changelog.txt
/CREDITS-fml.txt
/build.gradle
/.project
*.classpath
/forge-*-changelog.txt
/src/main/java/com/example/examplemod/ExampleMod.java

#Files that were created by the minecraft server
banned-ips.json
banned-players.json
/logs/
/crash-reports/
ops.json
eula.txt
server.properties
usercache.json
usernamecache.json
whitelist.json
/world
